{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Reddit-Style App</h1>
        <table id="article_list" class="table">
            <tbody></tbody>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script>
        $(function() {
            $.get('api', function (data) {
                var articleTable = $('#article_list');
                $.each(data.collection, function (index, element) {
                    var html = '<tr><td>' + '<a href="' + element.link + '"><b>' + element.title + '</b></a></td></tr>';
                    articleTable.append(html);
                });
            });
        });
    </script>
{% endblock %}
