{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Reddit-Style App</h1>
        <table id="articleList" class="table">
            <tbody></tbody>
        </table>
        <button id="prevButton" class="btn btn-xs btn-primary" disabled="disabled">Prev</button>
        <button id="nextButton" class="btn btn-xs btn-primary">Next</button>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script>
        var count = 25,
            before,
            after;
        $(function() {
            callApi('api');
        });

        $(document).on('click', '#nextButton', function () {
            var uri = 'api' + '?count=' + count + '&after=' + after;
            count += 25;

            if (25 < count) {
                $('#prevButton').prop('disabled', false);
            }

            callApi(uri);
        });

        $(document).on('click', '#prevButton', function () {
            var uri = 'api' + '?count=' + (count - 24) + '&before=' + before;
            count -= 25;

            if (25 === count) {
                $('#prevButton').prop('disabled', true);
            }

            callApi(uri);
        });

        function callApi(uri) {
            $.get(uri, function (data) {
                var articleTable = $('#articleList'),
                    currentRows = $('#articleList tr');
                currentRows.remove();
                $.each(data.collection, function (index, element) {
                    var html = '<tr><td>' + '<a href="' + element.link + '"><b>' + element.title + '</b></a></td></tr>';
                    articleTable.append(html);
                });
                before = data.first_article_name;
                after = data.last_article_name;
            });
        }
    </script>
{% endblock %}
