{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand" href="#">Reddit-Style App</a></div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="hotLinkItem" class="active"><a id="hotLink" href="#">Hot</a></li>
                    <li id="newLinkItem"><a id="newLink" href="#">New</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input id="searchTerm" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button id="search" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <table id="articleList" class="table">
            <tbody></tbody>
        </table>
        <button id="prevButton" class="btn btn-xs btn-primary" disabled="true">Prev</button>
        <button id="nextButton" class="btn btn-xs btn-primary">Next</button>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script>
        var baseUri = 'api',
            queryParams = {},
            count = 25,
            before,
            after;
        $(function() {
            callApi('api');
        });

        $(document).on('click', '#search', function (event) {
            event.preventDefault();
            baseUri = 'api/search';
            queryParams = {
                q: $('#searchTerm').val()
            };
            callApi(baseUri, queryParams);
        });

        $(document).on('click', '#newLink', function () {
            baseUri = 'api/new';
            queryParams = null;
            callApi(baseUri);
            $('#newLinkItem').prop('class', 'active');
            $('#hotLinkItem').prop('class', '');
        });

        $(document).on('click', '#hotLink', function () {
            baseUri = 'api';
            queryParams = null;
            callApi(baseUri);
            $('#newLinkItem').prop('class', '');
            $('#hotLinkItem').prop('class', 'active');
        });

        $(document).on('click', '#nextButton', function () {
            var newParams = {
                count: count,
                after: after
            };
            count += 25;

            if (25 < count) {
                $('#prevButton').prop('disabled', false);
            }

            callApi(baseUri, newParams);
        });

        $(document).on('click', '#prevButton', function () {
            var newParams = {
                count: count - 24,
                before: before
            };
            count -= 25;

            if (25 === count) {
                $('#prevButton').prop('disabled', true);
            }

            callApi(baseUri, newParams);
        });

        function callApi(uri, params) {
            var query = '';

            if (params) {
                if (queryParams) {
                    $.extend(params, queryParams);
                }
                console.log($.param(params));
                query = '?' + $.param(params);
            }

            $.get(uri + query, function (data) {
                console.log(data);
                var articleTable = $('#articleList'),
                    currentRows = $('#articleList tr');
                currentRows.remove();
                $.each(data.collection, function (index, element) {
                    var html = '<tr><td>' + '<a href="' + element.link + '"><b>' + element.title + '</b></a></td></tr>';
                    articleTable.append(html);
                });
                before = data.first_article_name;
                after = data.last_article_name;
            });
        }
    </script>
{% endblock %}
